body{
    background: #1e0377;
    background-image: url(inktex.jpg);
    background-size: 100%;
    padding: none;
    display: block;
}
h1, h2{
    font-family: 'Bitter', serif;
}
p{
    font-family: 'Raleway', sans-serif;
}
div{
    background: #1e0377;
    max-width: 600px;
    /* box-shadow: 5px 5px 15px #39257d; */
}
.profile{
    display: block;
    border-radius: 50%;
    width: 400px;
    margin: 30px auto;
    
    /*filter: grayscale(100%);*/
}
#intro{
    padding: 30px;
    margin: 0 auto;
    align-content: center;
    text-align: center;
    color: #d3f5ff;
}
.drop {
    background-color: #d3f5ff;
    width: 90px;
    color: rgb(6, 0, 56);
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.button {
    position: relative;
    display: inline-block;
    margin: 30px auto;
    background: none;
}
.container{
    width: 200;
    margin: 0 auto;
    background: none;
}

/* Dropdown Content (Hidden by Default) */
.content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 5px 5px 15px #1e0377;
    z-index: 1;
}

/* Links inside the dropdown */
.content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.button:hover .content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.button:hover .drop {background-color: #47a5e0;}